<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reklamacja - Biżuteria z brylantami – ACLARI</title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto+Condensed:300,400,700&display=swap&subset=latin-ext" rel="stylesheet">
</head>
<body>
    <main class="site-main" id="complaints-page-wrapper">
        <div class="container">
            <article class="page">
                <section class="intro">
                    <div class="intro__img">
                        <img src="<%=require('../img/ring.jpg')%>" alt="">
                    </div>
                    <div class="intro__text">
                        <h1>Reklamacje</h1>
                        <p>Na wszystkich etapach procesu tworzenia naszej biżuterii z brylantami dokładamy wszelkich starań, aby jej piękno i jakość zachwycały naszych Klientów, dając pełną satysfakcję z zakupu.</p>
                        <p>Jednak respektując prawa konsumenta, w przypadku wątpliwości dotyczących naszych produktów umożliwiamy złożenie reklamacji.</p>
                        <a href="#" class="btn btn-primary">Zgłoś reklamacje</a>
                    </div>
                </section>
                <section class="how-it-works section">
                    <div class="section__header">
                        <h2 class="section__heading">Jak to działa?</h2>
                    </div>
                    <div class="cards">
                        <div class="card">
                            <h2 class="card__title">Kto może dokonać<br>reklamacji?</h2>
                            <div class="card__desc">
                                <p>W ciągu 2 lat od daty zakupu, każdy Klient ma prawo dokonać reklamacji w przypadku, gdy uzna produkt za niezgodny z umową sprzedaży.</p>
                            </div>
                        </div>
                        <div class="card">
                            <h2 class="card__title">Czas trwania<br>reklamacji?</h2>
                            <div class="card__desc">
                                <p>Czas rozpatrywania reklamacji wynosi maksymalnie 14 dni od dnia złożenia reklamacji przez Konsumenta. Wszelkie informacje dotyczące rozstrzygnięcia reklamacji i czasu potrzebnego na realizację postanowień decyzji reklamacyjnej, będą przekazywane za pośrednictwem poczty elektronicznej na adres e mail podany w zgłoszeniu reklamacyjnym.</p>
                            </div>
                        </div>
                        <div class="card">
                            <h2 class="card__title">Kto może dokonać<br>reklamacji?</h2>
                            <div class="card__desc">
                                <p>Aby dokonać reklamacji prosimy o wykonanie następujących czynności:</p>
                                <p>Aby zgłosić reklamację dotyczącą jakości obsługi lub trybu realizacji zamówienia skontaktuj się z nami telefonicznie pod numerem 89 533 42 09 lub mailowo - kontakt@aclari.pl</p>
                                <p>Aby zgłosić reklamację dotyczącą niezgodności produktu z umową sprzedaży wypełnij formularz znajdujący się poniżej.</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="info">
                    <div class="info__inner">
                        <p>Każde zgłoszenie reklamacyjne zostanie rozpatrzone z najwyższą uwagą i w najkrótszym możliwym terminie.</p>
                        <p>ACLARI podejmie wszelkie kroki naprawiając swoje ewentualne błędy, aby zapewnić Państwu satysfakcję z użytkowania kupionej biżuterii, a także korzystania z naszego sklepu.</p>
                    </div>
                </section>
            </article>
        </div>
    </main>
</body>
</html>